/* Importing things */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: orange dashed 1px;
}

/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.nav {
    display: flex;
    align-items: center;
    padding: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    position: sticky;
    top: 0;
    border: blue dashed 1px;
    border-radius: 10px;
    
}

.nav ul {
    width: 100%;
    border: red dashed 1px;
}

.nav li {
    float: left;
    display: inline;
    width: 20%;
}

.nav li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #ddd;
    color: black;
}

.nav li a.active {
    background-color: #4CAF50;
    color: white;
}

.left-column {
    width: 50%;
    border: green dashed 1px;
    float: left;
    height: fit-content;
    display: center;
}

.right-column {
    width: 50%;
    border: green dashed 1px;
    float: right;
    
    
}

.body {
    width: 100%;
    height: 100%;
    border: rgb(228, 107, 200) solid 1px;
    
}

#mainpagepic {
    width: 50%;
    float: right;
    border: rgb(228, 107, 200) solid 1px;
}

#frontpagelefttext {
    width: 70%;
    float: left;
    
}

#instagram-gallery {
    width: 100%;
    border: rgb(234, 255, 0) dotted 1px;
}