/* Importing things */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@400;700&display=swap');
/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: orange dashed 1px; */
    font-family: 'Newsreader', serif;
    
}

/* Global styles */
body {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    font-family: 'Newsreader', serif;
    margin: 1%;

}

h1, h2, h3 {
    font-family: 'Goblin One', cursive;
    color: #1b4965;
}

.nav ul {
    width: 100%;
    
}

.nav li {
    float: left;
    display: inline;
    width: 16.6666%;
    text-align: center;
}

.nav li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link {
    font-family: 'Goblin One', cursive; 
    color: #1b4965;
}

.nav li a.active {
    background-color: #4CAF50;
    color: white;
}

.columns-container, .login-container {
    display: flex;
    padding: 20px;
    width: 100%;
    height: fit-content;
    /* border: red dashed 2px; */
}

.left-column {
    
    width: 50%;
    float: left;
    height: fit-content;
    display: center;
    /* border: orange solid 1px; */
}

.right-column {
    
    width: 50%;
    float: right;
    /* border: purple solid 1px; */
}

.chat {
    border: solid 1px black;
    height: 300px;
}

.ticketform {
    padding: 3%;
}

main {
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 1.5em;

}

#mainpagepic {
    width: 50%;
    float: right;
}

#frontpagelefttext {
    width: 70%;
    float: left;
    
}

#instagram-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}


footer {
    flex: 0 40px;
    bottom: 0;
    width: 100%;

  }

.indicator {
    float: right;
    color: green;
    border-radius: 25%;
    width: 20%;
    height: 20%;
}

#show-table {
    width: 100%;
    text-align: left;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-rows: 10em;
    grid-gap: 7em;
}

.gallery-item {
    margin: 10px;
    padding: 2%;
    border-top: solid #1B4965 1px;
    height: fit-content;
}

.instagram {
    height: fit-content;

}

@media (max-width: 768px) {
    .columns-container {
        flex-direction: column;
    }
    .login-container{
        flex-direction: column;
    }
    .left-column {
        width: 100%;
    }
    .right-column {
        width: 100%;
    }
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .gallery-item {
        margin: 10px;
        padding: 2%;
        border-top: solid #1B4965 1px;
    }
}