/* ---CHAT CSS--- */
.chatbox{
    background-color: #1b4965;
    border-radius: 10px;
    border: line #000000 10px;
    padding: 1em;
    margin: 1 em;
}

.messages {
    max-height: 600px;
    overflow-y: auto;
}

.messageInput {
    background-color: #1b4965;
}

.messageInput img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
    float: right;
    margin-left: 20px;
    margin-right:0;
  }

/* Chat containers */
.chat-container {
    border: 2px solid #dedede;
    background-color: #cae9ff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #7fbadc;
  }
  
  /* Clear floats */
  .chat-container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .chat-container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .chat-container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .chat-time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .chat-time-left {
    float: left;
    color: #dbdbdb;
  }

  /* Style text in chat */
    .chat-text {
        color: #000000;
        size: 1.1em;
        padding: .7em;
        font-weight: medium;
    }
